/*Recording Screen Layout*/

#title_bar{
	background-color: #91003A;
	border-bottom: 1px solid #4D001F;
	/*min-width: 981px;*/
	color: rgb(200,200,200);
	height: 37px;
	width: 79.9%;
}

#cs_title {
	padding-top: 7px;
	height: 30px;
}

#command_stack{
	right: 0;
	top: 0;
	border: 1px solid black;
	height: 100%;
	width: 20%;
	z-index: 300;
	display: block;
}

#stathistory {
	padding: 0px;
	margin: 0px;
	height: 93%;
	width: 100%;
}

#stathistory tr{
	height: 8%;
	width: 20%;
}

.flabel {
	padding-left: 8%;
	padding-right: 2%;
}

.odd {
	background-color: rgb(220,220,220);
}

.even {
	background-color: white;
}

#stathistory tr td input{
	margin-top: 5%;
	padding: 2%;
	width: 90%;
}

#left_content{
	padding-top: 40px;
	width: 80%;
}

#title{
	padding-top: .3em;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 2em;
}

.fixed_elem{
	position: fixed;
}

#cs_title{
	text-align: center;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 1.3em;
}

.gradient-texture {
	border-radius: 5px;
	background: rgba(255,255,255,0.1);
	background: -moz-linear-gradient(top,rgba(255,255,255,0.1),rgba(0,0,0,0.15));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.1),rgba(0,0,0,0.15));
	background: linear-gradient(top,rgba(255,255,255,0.1),rgba(0,0,0,0.15));
	height: 100%;
}

.separator {
	position: relative;
	padding: 14px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.08);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.08);
}

input[type=text].transparent{
	border: none !important;
	background: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-radius: 0 !important;
	padding: 0;
}

input[type=text].thin{
	width: 15%;
}

#submitbtn {
	margin: 2%;
	width: 12%;
}

.youtube-player {
	margin: 2%;
	width: 95%;
}

.subtistic {
	margin: 2%;
	width: 12%;
	float: left;
}

.subtistic input {
	width: 90%;
}

#path-subtistic {
	width: 28%;
}

#path-subtistic input {
	width: 40%;
}


.box {
	margin: 5%;
	width: 90%;
	height: 100px;
}

.outlined {
	border: 1px solid;
	border-color: black;
}
