html, body {
	height: 100%;
}

html {
}

body {
}

#recorded-statistics {
	outline: none;
}

#statHeader {
	font-weight: bold;
}

#statTable {
	outline: none;
}


#statTable tr{
	outline: none;
}

#statTable tr td{
	padding: 2em;
	font-family: Helvetica;
	text-align: center;
	outline: none;
}

.hidden {
	display: none;
}

.fill {
	height: 100%;
}

.row-fluid {
	outline: none;
}

#content-row {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgb(150,150,150);
}

#left-content {
	background-color: rgb(200,200,200);
	height: 100%;
}

#main-container {
	width: 100%;
	padding:0px;
	min-width: 90em;
	min-height: 37em;
	position: absolute;
	top: 0px;
	bottom: 50px;
}

#title-bar {
	background-color: #91003A;
	border-bottom: 1px solid #4D001F;
	color: rgb(200,200,200);
	height: 50px;
	width: 100%;
	outline: none;
}

.title {
	padding-top: .55em;
	padding-left: 1em;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 2em;
	outline: none;
}

.shortcut {
    font-style: italic;
    float: right;
}

#youtube-player {
	height: 65%;
	background-color: black;
}

/*#ytapiplayer {
	width: 100%;
	height: 65%;
}*/

#input-row {
	height: 35%;
	outline: none;
}

#input-form {
	margin-top: 10px;
	margin-left: 10px;
}

#input-form input {
	margin-bottom: 10px;
	float: left;
}

#submit-button {
	width: 90%;
}

#court {
	outline: none;
}

.box {
	height: 100px;
	background-size: 100% 100%;
	background-color: white;
	outline: none;
}

.outlined {
	border: 1px solid;
	border-color: black;
}

.height100{
	height: 100%;
}

#command-stack{
	height: 100%;
	z-index: 300;
	background-color: white;
	outline: none;
}

#prev-commands{
	overflow-y: scroll;
	overflow-x: hidden; 
	height: 95%;
	outline: none;
}

.cs-title {
	margin-top: 10px;
	text-align: center;
	outline: none;
}

#recorded-link {
	font-weight: bold;
	font-family: Helvetica;
	font-size: 1.3em;
	color: rgb(15,124,235);
	background:none;
	border:none;
}

#recorded-link:hover {
	color: rgb(5,90,190);
}

.gradient-texture {
	background: rgba(255,255,255,0.1);
	background: -moz-linear-gradient(top,rgba(255,255,255,0.1),rgba(0,0,0,0.15));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.1),rgba(0,0,0,0.15));
	background: linear-gradient(top,rgba(255,255,255,0.1),rgba(0,0,0,0.15));
	height: 100%;
}

.sb-fi{
	text-align: center;
	color: red;
	width: 100%;
}

.sb-form{
	margin-bottom: 0px;
}

.separator {
	position: relative;
	padding-top: 14px;
	padding-left: 14px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.08);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.08);
	height: 10%;
	transition: background-color 0.25s;
}

input[type=text].transparent{
	border: none !important;
	background: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-radius: 0 !important;
	padding: 0;
}

td.thin{
	width: %;
}

tr.comRow {
	width: auto;
}

.separator:hover {
	background-color: rgb(169,169,169);
}

.button-div{
	position: relative;
	top: 0px;
	left: 0;
	float: right;
	background-color: #8C8C8C;
	z-index: 400;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	/*border-radius: 10px;*/
	height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.edit-button {
   border-top: 1px solid #f2f4f5;
   background: #9ea9b0;
   background: -webkit-gradient(linear, left top, left bottom, from(#787d80), to(#9ea9b0));
   background: -webkit-linear-gradient(top, #787d80, #9ea9b0);
   background: -moz-linear-gradient(top, #787d80, #9ea9b0);
   background: -ms-linear-gradient(top, #787d80, #9ea9b0);
   background: -o-linear-gradient(top, #787d80, #9ea9b0);
   padding: 1px 1px;
   margin-top: 3px;
   margin-bottom: 3px;
   margin-right: 2px;
   margin-left: 2px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 11px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.edit-button:hover {
   border-top-color: #6b6b6b;
   background: #6b6b6b;
   color: #ccc;
   }
.edit-button:active {
   border-top-color: #8c2626;
   background: #8c2626;
   }

.outer-wrapper{
	display: none;
}

.comLabel{
	font-weight: bold;
}

.comLabel2{
	font-style: italic;
}

.labelRow{
	padding-bottom: 15px;
	padding-top: 7px;
}

#player-num-feedback {
	resize: none; 
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    cursor:default;
    font-weight: bold;
    font-family: sports_jersey;
    font-size: 4.55em;
    padding: 39px;
    text-align:center;
}

.invalid-text{
	color: rgb(200,0,0);
}

.invalid{
	background-color: pink !important;
}

.valid{
	background-color: rgb(125,200,125) !important;
}

.input {
	width: 67%;
}

.ui-helper-hidden-accessible { display:none; }

.drop-down {
	width: 20%;
}

#player-num-options {
	left: -387%;
	min-width: 0;
	width: 500%;
}

#shot-type-options {
    left: -387%;
	min-width: 0;
	width: 500%;
}

#dir-start-options {
	left: -387%;
	min-width: 0;
	width: 500%;
}

#dir-end-options {
	left: -387%;
	min-width: 0;
	width: 500%;
}

#shot-outcome-options {
	left: -387%;
	min-width: 0;
	width: 500%;
}

.block {
	background-image: url(icons/block.png);
}

.dig, .dug {
	background-image: url(icons/dig.png);
}

.serve {
	background-image: url(icons/serve.png);
}

.spike {
	background-image: url(icons/spike.png);
}

.set {
	background-image: url(icons/set.png);
}

.kill {
	background-image: url(icons/killshot.png);
}

.error {
	background-image: url(icons/error.png);
}
