#left-content {
	background-color: rgb(200,200,200);
	height: 600px;
}

#right-content {
	background-color: green;
	height: 500px;
}

#title-bar {
	background-color: #91003A;
	border-bottom: 1px solid #4D001F;
	color: rgb(200,200,200);
	height: 37px;
}

.title{
	padding-top: .3em;
	padding-left: 1em;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 2em;
}

#youtube-player {
	height: 375px;
}

#input-form {
	margin-top: 10px;
	margin-left: 10px;
}

#input-form input {
	margin-bottom: 10px;
	float: right;
}

#submit-button {
	width: 90%;
}

.box {
	height: 100px;
	background-size: 100% 100%;
	background-color: white;
}

.outlined {
	border: 1px solid;
	border-color: black;
}

.height100{
	height: 100%;
}

.fixed-elem{
	position: fixed;
}

#command-stack{
	right: 0;
	top: 51px;
	border: 1px solid black;
	height: 100%;
	width: 20%;
	z-index: 300;
	display: block;
}

#cs-title {
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 1.3em;
}

.gradient-texture {
	border-radius: 5px;
	background: rgba(255,255,255,0.1);
	background: -moz-linear-gradient(top,rgba(255,255,255,0.1),rgba(0,0,0,0.15));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.1),rgba(0,0,0,0.15));
	background: linear-gradient(top,rgba(255,255,255,0.1),rgba(0,0,0,0.15));
	height: 100%;
}

.sb-fi{
	text-align: center;
	color: red;
	width: 100%;
}

.sb-form{
	margin-bottom: 0px;
}

.separator {
	position: relative;
	padding: 14px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.08);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.08);
	height: 15%;
}

input[type=text].transparent{
	border: none !important;
	background: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-radius: 0 !important;
	padding: 0;
}

input[type=text].thin{
	width: 15%;
}

.court {
	background-image: url(icons/numberedcourt.png);
}

.shot-start {
	background-image: url(icons/shot-start.png);
}

.shot-end {
	background-image:  url(icons/shot-end.png);
}

.number12 {
	background-image: url(icons/playernumber.png);
}

.block {
	background-image: url(icons/block.png);
}

.kill {
	background-image: url(icons/killshot.png);
}
